/* Resets */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* footer */

.footer {
	background-color: #E9D8B7;
	border-radius: 8px;
	width: 70%;
	margin: 15px auto 15px auto;
	padding: 10px 0;
	text-align: center;
	font-family:Century Gothic,sans-serif;
	font-size:20px;
	a {
	text-decoration: none;
	color: #5C2A19;
	}
}

.footer li {
	display: inline;
	padding: 0 10px 0 0;
	text-decoration: none;
}

/* header */

.header {
	background-color: #E9D8B7;
	border-radius: 8px;
	width: 70%;
	margin: 15px auto 15px auto;
	padding: 10px 0;
	font-family:sans-serif;
	font-size:20px;
	a {
	text-decoration: none;
	color: #5C2A19;
	}
}

.header li {
	display: inline;
	padding-left: 30px;
}

.header li:last-child {
	float: right;
	padding-right: 30px;
}

/* other */
body {
	width:75%;
	margin: 0 auto;
}
h1 {
	text-align: center;
	font-size: 36px;
}
h2 {
	font-size:28px;
	text-align:center;
}
p {
	text-align:center;
	color:#ffffff;
}
.background {
	color: #E9D8B7;
	background-image: url('bgt.jpg?h=1080&c=1&w=1920');
	background-repeat:no-repeat;
	background-position: center;
	background-color: #000001;
	background-size: 1333px 750px;
	height: 750px;
	padding:15px 0 15px 0;
	p {
		color: #aa0015;
		font-size: 24px;
		margin-top: 10px;
		text-transform: uppercase;
	}
}
em {
	font-style:italic;
}
header {
	padding: 20px 0;
}
footer {
	padding: 20px 0;
}
h2.home {
	color: #aa0015;
}
.error {
	width:60%;
	margin: 10px auto;
	background-color:rgba(255, 0, 0, 0.4);
	border:1px solid #ff4444;
	text-align:center;
	padding: 4px 0;
	border-radius: 8px;
}
.content {
	min-height:100%;
	margin-bottom:-143px;
}

/* forms */

#container-salmon {
	width:50%;
	max-width:350px;
	margin: 0 auto;
	background-color:rgba(178, 107, 107, 0.7);
	padding: 30px 15px;
	border-radius: 8px;
}
.container-dark {
	width:80%;
	margin:0 auto;
	background-color:rgba(0, 0, 0, .5);
	padding: 5px 15px;
	border-radius:8px;
}
.form {
	margin: 0 auto;
	td {
	display:block;
	text-align:center;
	margin: 0 auto;
	}
}
input[type='text'],
input[type='email'],
input[type='password'] {
	width:100%;
	border-radius:5px;
	border:1px solid #5C2A19;
	font-size:16px;
	line-height:20px;
	margin:6px 0 15px 0;
	background-color: #FFF6EE;
	color:#5C2A19;
}
input[type='submit'] {
	margin-top: 10px;
	background-color: #FFF6EE;
	color:#5C2A19;
	border:1px solid #5C2A19;
	border-radius:5px;
}
